/*
* This configuration file is main one. This includes the pipeline parameters and differend config files, one for each profile.
* You can switch among them using the Nextflow parameter -profile <<PROFILENAME>>
* 
* This example config was copied from the Elixir Tutorial https://github.com/nextflow-io/elixir-workshop-21/tree/master
*/

// include the pipeline parameters from this file
includeConfig "$projectDir/params.config"

singularity.enabled = true
conda.enabled = true
cleanup = false

// define different profiles
profiles {
    hpc_slurm {
        includeConfig './conf/ebi_slurm.config'
    }
}